<nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <span style="margin: 0;padding:0;"><strong>covid19<span style="color: #6a0dad;"> India</span></strong></span>
  </a>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div class="pull-left">
        <button class="btn btn-primary btn-1" style="border-radius: 2em;"><strong>Helpline</strong></button>
      </div>
    </div>
  </nav>